<style type="text/css">
    #login_form {
        width: 150px;
    }

    #login_form label {
        display: block;
        font-weight: bold;
    }

    #login_form input.text, #login_form input.password {
        width: 150px;
    }

    #login_form input.checkbox {
        float: left;
    }

    #login_form div.field_box {
        margin: 10px 0;
    }

    #login_form div.submit_box {
        text-align: right;
    }

    #login_form p.error {
        text-align: center;
        color: #950000;
        font-weight: bold;
    }
</style>